<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>

	<display-name>SSM</display-name>
	<!-- 默认加载系统变量配置文件，属于系统级别配置 -->
	<!-- begin -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<!-- 不管applicationContext.xml文件存放在src目录还是WEB-INF目录，以下描述都对 -->
		<!-- applicationContext一般用于非SpringMVC，可用spring-mvc -->
		<param-value>/WEB-INF/applicationContext*.xml</param-value>
	</context-param>
	<!-- end -->
	
	<!-- servlet变量配置文件，属于controller级别配置，若不配置则默认寻找/WEB-INF/servlet-context.xml文件 -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
<!-- 		<async-supported>true</async-supported> -->
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter>  
        <filter-name>shiroSecurityFilter</filter-name>  
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>  
        <init-param>  
            <param-name>targetFilterLifecycle</param-name>  
            <param-value>true</param-value>  
        </init-param>  
    </filter>  
    <filter-mapping>  
        <filter-name>shiroSecurityFilter</filter-name>  
        <url-pattern>/*</url-pattern>  
<!--         <dispatcher>REQUEST</dispatcher>   -->
<!--         <dispatcher>FORWARD</dispatcher>   -->
<!--         <dispatcher>ERROR</dispatcher>   -->
    </filter-mapping>
    
	<servlet>
		<servlet-name>SpringMVC</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:spring-mvc.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
<!-- 		<async-supported>true</async-supported> -->
	</servlet>
	<servlet-mapping>
		<servlet-name>SpringMVC</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

</web-app>
